!/straight/versions
/*.elc
/company-statistics-cache.el
/elpa
/emojis
/eshell
/history
/prodigy-services.el
/projectile-bookmarks.eld
/projectile.cache
/rake.cache
/recentf
/straight/*
/url/
/var/pcache/cache
magithub
